___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

***

## Examining traffic violations

In [1]:
import pandas as pd
df = pd.read_csv("RI_cleaned.csv",skiprows =0).sample(n=50000,random_state=1)
df.head(9)
df.isnull()
df.isnull().sum()
pd.isnull(df["county_fips"])
bool_series = pd.isnull(df["county_fips"])
df[bool_series]
df.drop(["county_name","county_fips" ,"fine_grained_location"],axis=1,inplace=True)
df.shape
df.drop("state",axis=1)
df.dropna(subset=["driver_gender"])
df.shape
df["driver_gender"].isnull().sum()
df.shape
df.dropna(subset = ["driver_gender"],inplace=True)
df[["is_arrested"]].head(10)
df["is_arrested"]=df.is_arrested.astype("bool")
df["is_arrested"].dtype
combined = df.stop_date.str.cat(df.stop_time,sep=" ") #her iki serinin boyu aynı olmalıdır
df["stop_datetime"] = pd.to_datetime(combined)
df["stop_datetime"].dtype
df["stop_datetime"]
#df = df.set_index(pd.DatetimeIndex(df["stop_datetime"]))
#df.head()
day=pd.Timestamp("2005-01-02")
day.day_name()
df["violation"].value_counts() # Count the unique values in the violation to see what violations are being committed by all drivers.
df["violation"].value_counts(normalize=True)
#Before starting your work in this section repeat the steps which you did in the previos chapter for preparing the data. 
#Continue to this chapter based on where you were in the end of the previous chapter.

C:\Users\mkdty\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Speeding               0.562370
Moving violation       0.186387
Equipment              0.126248
Other                  0.050873
Registration/plates    0.040333
Seat belt              0.033788
Name: violation, dtype: float64

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [2]:
df["violation"].value_counts() # Count the unique values in the violation to see what violations are being committed by all drivers.

Speeding               26464
Moving violation        8771
Equipment               5941
Other                   2394
Registration/plates     1898
Seat belt               1590
Name: violation, dtype: int64

In [3]:
df["violation"].value_counts(normalize=True)

Speeding               0.562370
Moving violation       0.186387
Equipment              0.126248
Other                  0.050873
Registration/plates    0.040333
Seat belt              0.033788
Name: violation, dtype: float64

***

## Comparing violations by gender

In [4]:
df_male = df[df["driver_gender"] == "M" ]
df_male.head()

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop_datetime
153602,RI-2008-27978,RI,2008-07-28,19:13,Zone X4,300,M,1971.0,37.0,B,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4,2008-07-28 19:13:00
130926,RI-2008-05302,RI,2008-02-07,20:20,Zone K3,300,M,1967.0,41.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3,2008-02-07 20:20:00
129235,RI-2008-03611,RI,2008-01-26,19:59,Zone K3,300,M,1986.0,22.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3,2008-01-26 19:59:00
153079,RI-2008-27455,RI,2008-07-24,15:17,Zone K2,900,M,1941.0,67.0,W,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone K2,2008-07-24 15:17:00
179740,RI-2009-05097,RI,2009-02-08,06:56,Zone K3,300,M,1983.0,26.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3,2009-02-08 06:56:00

In [5]:
df_female = df[df["driver_gender"] == "F"]
df_female.head()

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop_datetime
462227,RI-2014-50432,RI,2014-12-28,17:23,Zone X4,500,F,1967.0,47.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4,2014-12-28 17:23:00
271106,RI-2011-10619,RI,2011-04-09,03:02,Zone X4,500,F,1972.0,39.0,W,...,NaN,NaN,False,Arrest Driver,True,30+ Min,False,False,Zone X4,2011-04-09 03:02:00
436820,RI-2014-25025,RI,2014-06-18,23:13,Zone K2,900,F,1993.0,21.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K2,2014-06-18 23:13:00
236912,RI-2010-18816,RI,2010-05-30,07:38,Zone K1,600,F,1985.0,25.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,2010-05-30 07:38:00
193766,RI-2009-19123,RI,2009-05-22,22:34,Zone K1,600,F,1981.0,28.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K1,2009-05-22 22:34:00

In [6]:
df_female.violation.value_counts() # committed crimes by females

Speeding               8506
Moving violation       1704
Equipment              1311
Registration/plates     542
Other                   398
Seat belt               360
Name: violation, dtype: int64

In [7]:
df_female.violation.value_counts(normalize=True) # to Express the counts as proportions we use normalize

Speeding               0.663443
Moving violation       0.132907
Equipment              0.102254
Registration/plates    0.042274
Other                  0.031043
Seat belt              0.028079
Name: violation, dtype: float64

In [8]:
df_male.violation.value_counts() # committed crimes by male

Speeding               17958
Moving violation        7067
Equipment               4630
Other                   1996
Registration/plates     1356
Seat belt               1230
Name: violation, dtype: int64

In [9]:
df_male.violation.value_counts(normalize=True) # violation proportions for male

Speeding               0.524520
Moving violation       0.206414
Equipment              0.135234
Other                  0.058300
Registration/plates    0.039606
Seat belt              0.035926
Name: violation, dtype: float64

***

## Comparing speeding outcomes by gender

In [10]:
female_speeding = df_female[df_female["violation"]== "Speeding" ]

In [11]:
male_speeding = df_male[df_male.violation == "Speeding"]

In [12]:
male_speeding.head()

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop_datetime
130926,RI-2008-05302,RI,2008-02-07,20:20,Zone K3,300,M,1967.0,41.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3,2008-02-07 20:20:00
129235,RI-2008-03611,RI,2008-01-26,19:59,Zone K3,300,M,1986.0,22.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3,2008-01-26 19:59:00
179740,RI-2009-05097,RI,2009-02-08,06:56,Zone K3,300,M,1983.0,26.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3,2009-02-08 06:56:00
29077,RI-2006-14999,RI,2006-04-02,03:40,Zone K2,900,M,1976.0,30.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K2,2006-04-02 03:40:00
101349,RI-2007-28928,RI,2007-07-03,15:00,Zone X3,200,M,1977.0,30.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3,2007-07-03 15:00:00

In [13]:
female_speeding.head()

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop_datetime
462227,RI-2014-50432,RI,2014-12-28,17:23,Zone X4,500,F,1967.0,47.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4,2014-12-28 17:23:00
436820,RI-2014-25025,RI,2014-06-18,23:13,Zone K2,900,F,1993.0,21.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K2,2014-06-18 23:13:00
236912,RI-2010-18816,RI,2010-05-30,07:38,Zone K1,600,F,1985.0,25.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,2010-05-30 07:38:00
193766,RI-2009-19123,RI,2009-05-22,22:34,Zone K1,600,F,1981.0,28.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K1,2009-05-22 22:34:00
72840,RI-2007-00419,RI,2007-01-04,01:25,Zone K1,600,F,1986.0,21.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K1,2007-01-04 01:25:00

In [14]:
df_female.columns

Index(['id', 'state', 'stop_date', 'stop_time', 'location_raw',
       'police_department', 'driver_gender', 'driver_age_raw', 'driver_age',
       'driver_race_raw', 'driver_race', 'violation_raw', 'violation',
       'search_conducted', 'search_type_raw', 'search_type',
       'contraband_found', 'stop_outcome', 'is_arrested', 'stop_duration',
       'out_of_state', 'drugs_related_stop', 'district', 'stop_datetime'],
      dtype='object')

In [15]:
female_speeding.stop_outcome.value_counts() #penalties for speeding male drivers

Citation            8103
Warning              340
Arrest Driver         45
N/D                    8
Arrest Passenger       7
No Action              3
Name: stop_outcome, dtype: int64

In [16]:
warning_prp_male = male_speeding.stop_outcome.value_counts(normalize=True)[1]
warning_prp_male # warning proportion for male drivers

0.03385677692393362

In [17]:
warning_prp_fmale = female_speeding.stop_outcome.value_counts(normalize=True)[1]
warning_prp_fmale

0.03997178462261933

***

## Calculating the search rate

In [18]:
df["search_conducted"].dtype

dtype('O')

In [19]:
df["search_conducted"]=df.search_conducted.astype("bool")

In [20]:
df["search_conducted"].dtype

dtype('bool')

In [21]:
search = df[["search_conducted"]].sum() # only counts the true ones

In [22]:
df.search_conducted.value_counts(normalize=True) # Calculate the search rate by counting the values

False    0.961452
True     0.038548
Name: search_conducted, dtype: float64

In [23]:
df.search_conducted.mean() # Calculate the search rate by taking the mean

0.03854817459305538

In [24]:
df.loc[236912,['search_conducted', 'search_type_raw']]

search_conducted    False
search_type_raw       NaN
Name: 236912, dtype: object

In [25]:
df.columns

Index(['id', 'state', 'stop_date', 'stop_time', 'location_raw',
       'police_department', 'driver_gender', 'driver_age_raw', 'driver_age',
       'driver_race_raw', 'driver_race', 'violation_raw', 'violation',
       'search_conducted', 'search_type_raw', 'search_type',
       'contraband_found', 'stop_outcome', 'is_arrested', 'stop_duration',
       'out_of_state', 'drugs_related_stop', 'district', 'stop_datetime'],
      dtype='object')

***

## Comparing search rates by gender

In [26]:
df_female[["search_conducted"]].mean()

search_conducted    0.018485
dtype: float64

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [27]:
df_male.search_conducted.value_counts(normalize=True)

False    0.953939
True     0.046061
Name: search_conducted, dtype: float64

In [28]:
df_male[["search_conducted"]].mean()

search_conducted    0.046061
dtype: float64

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [29]:
df[["search_conducted","driver_gender"]].groupby("driver_gender").mean() # proportion of search for each gender

               search_conducted
driver_gender
F                      0.018485
M                      0.046061

***

## Adding a second factor to the analysis

In [30]:
df.groupby(["driver_gender","violation"] ).search_conducted.mean()

driver_gender  violation
F              Equipment              0.034325
               Moving violation       0.041080
               Other                  0.045226
               Registration/plates    0.060886
               Seat belt              0.008333
               Speeding               0.007994
M              Equipment              0.075594
               Moving violation       0.061129
               Other                  0.046092
               Registration/plates    0.122419
               Seat belt              0.030894
               Speeding               0.027787
Name: search_conducted, dtype: float64

In [31]:
df.columns

Index(['id', 'state', 'stop_date', 'stop_time', 'location_raw',
       'police_department', 'driver_gender', 'driver_age_raw', 'driver_age',
       'driver_race_raw', 'driver_race', 'violation_raw', 'violation',
       'search_conducted', 'search_type_raw', 'search_type',
       'contraband_found', 'stop_outcome', 'is_arrested', 'stop_duration',
       'out_of_state', 'drugs_related_stop', 'district', 'stop_datetime'],
      dtype='object')

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [32]:
df.groupby(["violation","driver_gender"] ).search_conducted.mean()

violation            driver_gender
Equipment            F                0.034325
                     M                0.075594
Moving violation     F                0.041080
                     M                0.061129
Other                F                0.045226
                     M                0.046092
Registration/plates  F                0.060886
                     M                0.122419
Seat belt            F                0.008333
                     M                0.030894
Speeding             F                0.007994
                     M                0.027787
Name: search_conducted, dtype: float64

***

## Counting protective frisks

In [33]:
df[df.search_type.notnull()][["search_type","driver_gender"] ]

                              search_type driver_gender
139866                     Probable Cause             M
91394                    Protective Frisk             M
400009                          Inventory             M
415749                   Protective Frisk             M
259161  Incident to Arrest,Probable Cause             M
...                                   ...           ...
47290                      Probable Cause             M
90870                      Probable Cause             M
466367                 Incident to Arrest             M
237527                 Incident to Arrest             M
249746               Reasonable Suspicion             F

[1814 rows x 2 columns]

In [34]:
df[df.search_type == "Protective Frisk"]["search_type"].count() # 89 times protective frisk was only search type

89

In [35]:
frisk_bool = df["frisk"] = df.search_type.str.contains("Protective Frisk",na = False)
df[df.frisk == True]["frisk"]

91394     True
415749    True
119143    True
166377    True
77652     True
          ...
217912    True
127383    True
4323      True
83385     True
40541     True
Name: frisk, Length: 174, dtype: bool

In [36]:
frisk_bool.dtype

dtype('bool')

In [37]:
frisk_sum = df[df.frisk == True]["frisk"].sum()
frisk_sum

174

In [38]:
import numpy as np

In [39]:
s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.NaN])
s1.str.contains("house",na =True,regex=False)

0    False
1    False
2     True
3    False
4     True
dtype: bool

***

## Comparing frisk rates by gender

In [40]:
df_search = df[df.search_conducted == True]
df_search.head(3)

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop_datetime,frisk
139866,RI-2008-14242,RI,2008-04-19,13:20,Zone K3,300,M,1972.0,36.0,W,...,Probable Cause,True,Citation,False,16-30 Min,False,False,Zone K3,2008-04-19 13:20:00,False
91394,RI-2007-18973,RI,2007-04-30,14:54,Zone X4,500,M,1946.0,61.0,W,...,Protective Frisk,False,No Action,False,16-30 Min,False,False,Zone X4,2007-04-30 14:54:00,True
400009,RI-2013-32900,RI,2013-09-23,09:35,Zone X4,500,M,1986.0,27.0,B,...,Inventory,False,Citation,False,0-15 Min,False,False,Zone X4,2013-09-23 09:35:00,False

In [41]:
df_search.groupby(["driver_gender"]).frisk.mean()

driver_gender
F    0.075949
M    0.098922
Name: frisk, dtype: float64