___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [44]:
import pandas as pd
df = pd.read_csv("RI_cleaned.csv",skiprows =0).sample(n=50000,random_state=1)
df.head(9)

C:\Users\mkdty\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
153602,RI-2008-27978,RI,2008-07-28,19:13,Zone X4,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
130926,RI-2008-05302,RI,2008-02-07,20:20,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
129235,RI-2008-03611,RI,2008-01-26,19:59,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
462227,RI-2014-50432,RI,2014-12-28,17:23,Zone X4,NaN,NaN,NaN,500,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
153079,RI-2008-27455,RI,2008-07-24,15:17,Zone K2,NaN,NaN,NaN,900,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone K2
179740,RI-2009-05097,RI,2009-02-08,06:56,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
216045,RI-2009-41402,RI,2009-12-11,09:08,Zone X3,NaN,NaN,NaN,200,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X3
271106,RI-2011-10619,RI,2011-04-09,03:02,Zone X4,NaN,NaN,NaN,500,F,...,False,NaN,NaN,False,Arrest Driver,True,30+ Min,False,False,Zone X4
436820,RI-2014-25025,RI,2014-06-18,23:13,Zone K2,NaN,NaN,NaN,900,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K2

In [45]:
df.isnull()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
153602,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
130926,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
129235,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
462227,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
153079,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260556,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
190013,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
156091,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
322328,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
213818,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False

In [46]:
df.isnull().sum()

id                           0
state                        0
stop_date                    1
stop_time                    1
location_raw                 0
county_name              50000
county_fips              50000
fine_grained_location    50000
police_department            1
driver_gender             2942
driver_age_raw            2936
driver_age                3110
driver_race_raw           2937
driver_race               2937
violation_raw             2937
violation                 2937
search_conducted             1
search_type_raw          48186
search_type              48186
contraband_found             0
stop_outcome              2937
is_arrested               2937
stop_duration             2937
out_of_state              3023
drugs_related_stop           0
district                     0
dtype: int64

In [47]:
pd.isnull(df["county_fips"])

153602    True
130926    True
129235    True
462227    True
153079    True
          ...
260556    True
190013    True
156091    True
322328    True
213818    True
Name: county_fips, Length: 50000, dtype: bool

In [48]:
bool_series = pd.isnull(df["county_fips"])
df[bool_series]

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
153602,RI-2008-27978,RI,2008-07-28,19:13,Zone X4,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
130926,RI-2008-05302,RI,2008-02-07,20:20,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
129235,RI-2008-03611,RI,2008-01-26,19:59,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
462227,RI-2014-50432,RI,2014-12-28,17:23,Zone X4,NaN,NaN,NaN,500,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
153079,RI-2008-27455,RI,2008-07-24,15:17,Zone K2,NaN,NaN,NaN,900,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone K2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260556,RI-2011-00069,RI,2011-01-01,13:23,Zone X3,NaN,NaN,NaN,200,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
190013,RI-2009-15370,RI,2009-04-21,11:02,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,True,False,Zone K3
156091,RI-2008-30467,RI,2008-08-15,15:21,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
322328,RI-2012-16047,RI,2012-03-18,07:27,Zone K2,NaN,NaN,NaN,900,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K2
213818,RI-2009-39175,RI,2009-11-21,13:21,Zone X3,NaN,NaN,NaN,200,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3

In [49]:
df.drop(["county_name","county_fips" ,"fine_grained_location"],axis=1,inplace=True)

In [50]:
df.shape

(50000, 23)

In [51]:
df.drop("state",axis=1)

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
153602,RI-2008-27978,2008-07-28,19:13,Zone X4,300,M,1971.0,37.0,B,Black,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
130926,RI-2008-05302,2008-02-07,20:20,Zone K3,300,M,1967.0,41.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
129235,RI-2008-03611,2008-01-26,19:59,Zone K3,300,M,1986.0,22.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
462227,RI-2014-50432,2014-12-28,17:23,Zone X4,500,F,1967.0,47.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
153079,RI-2008-27455,2008-07-24,15:17,Zone K2,900,M,1941.0,67.0,W,White,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone K2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260556,RI-2011-00069,2011-01-01,13:23,Zone X3,200,F,1963.0,48.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
190013,RI-2009-15370,2009-04-21,11:02,Zone K3,300,M,1968.0,41.0,W,White,...,False,NaN,NaN,False,Citation,False,16-30 Min,True,False,Zone K3
156091,RI-2008-30467,2008-08-15,15:21,Zone X4,500,M,1935.0,73.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
322328,RI-2012-16047,2012-03-18,07:27,Zone K2,900,M,1967.0,45.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K2
213818,RI-2009-39175,2009-11-21,13:21,Zone X3,200,F,1985.0,24.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3

In [52]:
df.dropna(subset=["driver_gender"])
df.shape

(50000, 23)

In [53]:
df["driver_gender"].isnull().sum()
df.shape

(50000, 23)

In [54]:
df.dropna(subset = ["driver_gender"],inplace=True)

In [55]:
df[["is_arrested"]].head(10)

       is_arrested
153602       False
130926       False
129235       False
462227       False
153079       False
179740       False
216045       False
271106        True
436820       False
29077        False

In [56]:
df["is_arrested"]=df.is_arrested.astype("bool")

In [57]:
df["is_arrested"].dtype

dtype('bool')

In [58]:
combined = df.stop_date.str.cat(df.stop_time,sep=" ") #her iki serinin boyu aynı olmalıdır
df["stop_datetime"] = pd.to_datetime(combined)

In [59]:
df["stop_datetime"].dtype

dtype('<M8[ns]')

In [60]:
df["stop_datetime"]

153602   2008-07-28 19:13:00
130926   2008-02-07 20:20:00
129235   2008-01-26 19:59:00
462227   2014-12-28 17:23:00
153079   2008-07-24 15:17:00
                 ...
260556   2011-01-01 13:23:00
190013   2009-04-21 11:02:00
156091   2008-08-15 15:21:00
322328   2012-03-18 07:27:00
213818   2009-11-21 13:21:00
Name: stop_datetime, Length: 47058, dtype: datetime64[ns]

In [61]:
#df = df.set_index(pd.DatetimeIndex(df["stop_datetime"]))
#df.head()

In [62]:
day=pd.Timestamp("2005-01-02")
day.day_name()

'Sunday'

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [63]:
df["violation"].value_counts() # Count the unique values in the violation to see what violations are being committed by all drivers.

Speeding               26464
Moving violation        8771
Equipment               5941
Other                   2394
Registration/plates     1898
Seat belt               1590
Name: violation, dtype: int64

In [64]:
df["violation"].value_counts(normalize=True)

Speeding               0.562370
Moving violation       0.186387
Equipment              0.126248
Other                  0.050873
Registration/plates    0.040333
Seat belt              0.033788
Name: violation, dtype: float64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [65]:
df_male = df[df["driver_gender"] == "M" ]
df_male.head()

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop_datetime
153602,RI-2008-27978,RI,2008-07-28,19:13,Zone X4,300,M,1971.0,37.0,B,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4,2008-07-28 19:13:00
130926,RI-2008-05302,RI,2008-02-07,20:20,Zone K3,300,M,1967.0,41.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3,2008-02-07 20:20:00
129235,RI-2008-03611,RI,2008-01-26,19:59,Zone K3,300,M,1986.0,22.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3,2008-01-26 19:59:00
153079,RI-2008-27455,RI,2008-07-24,15:17,Zone K2,900,M,1941.0,67.0,W,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone K2,2008-07-24 15:17:00
179740,RI-2009-05097,RI,2009-02-08,06:56,Zone K3,300,M,1983.0,26.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3,2009-02-08 06:56:00

In [66]:
df_female = df[df["driver_gender"] == "F"]
df_female.head()

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop_datetime
462227,RI-2014-50432,RI,2014-12-28,17:23,Zone X4,500,F,1967.0,47.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4,2014-12-28 17:23:00
271106,RI-2011-10619,RI,2011-04-09,03:02,Zone X4,500,F,1972.0,39.0,W,...,NaN,NaN,False,Arrest Driver,True,30+ Min,False,False,Zone X4,2011-04-09 03:02:00
436820,RI-2014-25025,RI,2014-06-18,23:13,Zone K2,900,F,1993.0,21.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K2,2014-06-18 23:13:00
236912,RI-2010-18816,RI,2010-05-30,07:38,Zone K1,600,F,1985.0,25.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,2010-05-30 07:38:00
193766,RI-2009-19123,RI,2009-05-22,22:34,Zone K1,600,F,1981.0,28.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K1,2009-05-22 22:34:00

In [67]:
df_female.violation.value_counts() # committed crimes by females

Speeding               8506
Moving violation       1704
Equipment              1311
Registration/plates     542
Other                   398
Seat belt               360
Name: violation, dtype: int64

In [68]:
df_female.violation.value_counts(normalize=True) # to Express the counts as proportions we use normalize

Speeding               0.663443
Moving violation       0.132907
Equipment              0.102254
Registration/plates    0.042274
Other                  0.031043
Seat belt              0.028079
Name: violation, dtype: float64

In [69]:
df_male.violation.value_counts() # committed crimes by male

Speeding               17958
Moving violation        7067
Equipment               4630
Other                   1996
Registration/plates     1356
Seat belt               1230
Name: violation, dtype: int64

In [70]:
df_male.violation.value_counts(normalize=True) # violation proportions for male

Speeding               0.524520
Moving violation       0.206414
Equipment              0.135234
Other                  0.058300
Registration/plates    0.039606
Seat belt              0.035926
Name: violation, dtype: float64

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [71]:
female_speeding = df_female[df_female["violation"]== "Speeding" ]

In [72]:
male_speeding = df_male[df_male.violation == "Speeding"]

In [73]:
male_speeding.head()

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop_datetime
130926,RI-2008-05302,RI,2008-02-07,20:20,Zone K3,300,M,1967.0,41.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3,2008-02-07 20:20:00
129235,RI-2008-03611,RI,2008-01-26,19:59,Zone K3,300,M,1986.0,22.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3,2008-01-26 19:59:00
179740,RI-2009-05097,RI,2009-02-08,06:56,Zone K3,300,M,1983.0,26.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3,2009-02-08 06:56:00
29077,RI-2006-14999,RI,2006-04-02,03:40,Zone K2,900,M,1976.0,30.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K2,2006-04-02 03:40:00
101349,RI-2007-28928,RI,2007-07-03,15:00,Zone X3,200,M,1977.0,30.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3,2007-07-03 15:00:00

In [74]:
female_speeding.head()

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop_datetime
462227,RI-2014-50432,RI,2014-12-28,17:23,Zone X4,500,F,1967.0,47.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4,2014-12-28 17:23:00
436820,RI-2014-25025,RI,2014-06-18,23:13,Zone K2,900,F,1993.0,21.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K2,2014-06-18 23:13:00
236912,RI-2010-18816,RI,2010-05-30,07:38,Zone K1,600,F,1985.0,25.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,2010-05-30 07:38:00
193766,RI-2009-19123,RI,2009-05-22,22:34,Zone K1,600,F,1981.0,28.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K1,2009-05-22 22:34:00
72840,RI-2007-00419,RI,2007-01-04,01:25,Zone K1,600,F,1986.0,21.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K1,2007-01-04 01:25:00

In [75]:
df_female.columns

Index(['id', 'state', 'stop_date', 'stop_time', 'location_raw',
       'police_department', 'driver_gender', 'driver_age_raw', 'driver_age',
       'driver_race_raw', 'driver_race', 'violation_raw', 'violation',
       'search_conducted', 'search_type_raw', 'search_type',
       'contraband_found', 'stop_outcome', 'is_arrested', 'stop_duration',
       'out_of_state', 'drugs_related_stop', 'district', 'stop_datetime'],
      dtype='object')

In [94]:
female_speeding.stop_outcome.value_counts() #penalties for speeding male drivers

Citation            8103
Warning              340
Arrest Driver         45
N/D                    8
Arrest Passenger       7
No Action              3
Name: stop_outcome, dtype: int64

In [96]:
warning_prp_male = male_speeding.stop_outcome.value_counts(normalize=True)[1]
warning_prp_male # warning proportion for male drivers

0.03385677692393362

In [95]:
warning_prp_fmale = female_speeding.stop_outcome.value_counts(normalize=True)[1]
warning_prp_fmale

0.03997178462261933

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [79]:
df["search_conducted"].dtype

dtype('O')

In [80]:
df["search_conducted"]=df.search_conducted.astype("bool")

In [81]:
df["search_conducted"].dtype

dtype('bool')

In [82]:
search = df[["search_conducted"]].sum() # only counts the true ones

In [83]:
df.search_conducted.value_counts(normalize=True) # Calculate the search rate by counting the values

False    0.961452
True     0.038548
Name: search_conducted, dtype: float64

In [84]:
df.search_conducted.mean() # Calculate the search rate by taking the mean

0.03854817459305538

In [85]:
df.loc[236912,['search_conducted', 'search_type_raw']]

search_conducted    False
search_type_raw       NaN
Name: 236912, dtype: object

In [86]:
df.columns

Index(['id', 'state', 'stop_date', 'stop_time', 'location_raw',
       'police_department', 'driver_gender', 'driver_age_raw', 'driver_age',
       'driver_race_raw', 'driver_race', 'violation_raw', 'violation',
       'search_conducted', 'search_type_raw', 'search_type',
       'contraband_found', 'stop_outcome', 'is_arrested', 'stop_duration',
       'out_of_state', 'drugs_related_stop', 'district', 'stop_datetime'],
      dtype='object')

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [87]:
df_female[["search_conducted"]].mean()

search_conducted    0.018485
dtype: float64

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [88]:
df_male.search_conducted.value_counts(normalize=True)

False    0.953939
True     0.046061
Name: search_conducted, dtype: float64

In [89]:
df_male[["search_conducted"]].mean()

search_conducted    0.046061
dtype: float64

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [90]:
df[["search_conducted","driver_gender"]].groupby("driver_gender").mean() # proportion of search for each gender

               search_conducted
driver_gender
F                      0.018485
M                      0.046061

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [91]:
df.groupby(["driver_gender","violation"] ).search_conducted.mean()

driver_gender  violation
F              Equipment              0.034325
               Moving violation       0.041080
               Other                  0.045226
               Registration/plates    0.060886
               Seat belt              0.008333
               Speeding               0.007994
M              Equipment              0.075594
               Moving violation       0.061129
               Other                  0.046092
               Registration/plates    0.122419
               Seat belt              0.030894
               Speeding               0.027787
Name: search_conducted, dtype: float64

In [92]:
df.columns

Index(['id', 'state', 'stop_date', 'stop_time', 'location_raw',
       'police_department', 'driver_gender', 'driver_age_raw', 'driver_age',
       'driver_race_raw', 'driver_race', 'violation_raw', 'violation',
       'search_conducted', 'search_type_raw', 'search_type',
       'contraband_found', 'stop_outcome', 'is_arrested', 'stop_duration',
       'out_of_state', 'drugs_related_stop', 'district', 'stop_datetime'],
      dtype='object')

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [93]:
df.groupby(["violation","driver_gender"] ).search_conducted.mean()

violation            driver_gender
Equipment            F                0.034325
                     M                0.075594
Moving violation     F                0.041080
                     M                0.061129
Other                F                0.045226
                     M                0.046092
Registration/plates  F                0.060886
                     M                0.122419
Seat belt            F                0.008333
                     M                0.030894
Speeding             F                0.007994
                     M                0.027787
Name: search_conducted, dtype: float64

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [101]:
df[df.search_type.notnull()][["search_type","driver_gender"] ]

                              search_type driver_gender
139866                     Probable Cause             M
91394                    Protective Frisk             M
400009                          Inventory             M
415749                   Protective Frisk             M
259161  Incident to Arrest,Probable Cause             M
...                                   ...           ...
47290                      Probable Cause             M
90870                      Probable Cause             M
466367                 Incident to Arrest             M
237527                 Incident to Arrest             M
249746               Reasonable Suspicion             F

[1814 rows x 2 columns]

In [108]:
df[df.search_type == "Protective Frisk"]["search_type"].count() # 89 times protective frisk was only search type

89

In [133]:
frisk_bool = df["frisk"] = df.search_type.str.contains("Protective Frisk",na = False)
df[df.frisk == True]["frisk"]

91394     True
415749    True
119143    True
166377    True
77652     True
          ...
217912    True
127383    True
4323      True
83385     True
40541     True
Name: frisk, Length: 174, dtype: bool

In [127]:
frisk_bool.dtype

dtype('bool')

In [131]:
frisk_sum = df[df.frisk == True]["frisk"].sum()
frisk_sum

174

In [110]:
import numpy as np

In [119]:
s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.NaN])
s1.str.contains("house",na =True,regex=False)

0    False
1    False
2     True
3    False
4     True
dtype: bool

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [135]:
df_search = df[df.search_conducted == True]
df_search.head(3)

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop_datetime,frisk
139866,RI-2008-14242,RI,2008-04-19,13:20,Zone K3,300,M,1972.0,36.0,W,...,Probable Cause,True,Citation,False,16-30 Min,False,False,Zone K3,2008-04-19 13:20:00,False
91394,RI-2007-18973,RI,2007-04-30,14:54,Zone X4,500,M,1946.0,61.0,W,...,Protective Frisk,False,No Action,False,16-30 Min,False,False,Zone X4,2007-04-30 14:54:00,True
400009,RI-2013-32900,RI,2013-09-23,09:35,Zone X4,500,M,1986.0,27.0,B,...,Inventory,False,Citation,False,0-15 Min,False,False,Zone X4,2013-09-23 09:35:00,False

In [138]:
df_search.groupby(["driver_gender"]).frisk.mean()

driver_gender
F    0.075949
M    0.098922
Name: frisk, dtype: float64